<footer class="pure-g" style="background-color: rgb(22, 21, 21);">
  <div class="pure-u-1 pure-u-md-1-4 center_elements_row" >
    <p ><i class="fa-brands fa-facebook fa-2x"></i></p>
    <p ><i class="fa-brands fa-instagram fa-2x"></i></p>
    <p ><i class="fa-brands fa-twitter fa-2x"></i></p>
  </div>
  <div class="pure-u-1 pure-u-md-1-4 center_elements_row">
    <img
        src="imagenes/logo.png"
        alt="Logo tienda"
        width="50px"
        height="50px"
      />
    <p><a>Nosotros</a></p>
  </div>
  <div class="pure-u-1 pure-u-md-1-4 center_elements_row"><p><a>Atencion Al cliente</a></p></div>
  <div class="pure-u-1 pure-u-md-1-4">
     <p><i class="fa-solid fa-copyright center_elements_row" style="color: white"></i>Copyright 2022</p>
  </div>
</footer>
</html>
<style>
  .center_elements_row{
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
  }
  
</style>