<footer style="background-color: black;" class="footer_container ">
    <div class="fc1"><!--Links Redes Sociales-->
        <div><i class="fa-brands fa-facebook fa-2x" ></i></div>
        <div><i class="fa-brands fa-instagram fa-2x"></i></div>
        <div><i class="fa-brands fa-twitter fa-2x"></i></div>
    </div>

    <div class="fc3">

        <div style="color: white;" ><p style="font-size: 2vw;">Nosotros</p></div><!--nosotros-->
        <div style="color: white;" ><p style="font-size: 2vw;">Atencion al cliente</p></div><!--atencion cliente-->
        <div style="color: red;" ><h3 style="font-size: 2vw;">MigotonaRiujin@gmail.com</h3></div><!--Email-->
    </div>

    <div class="fc2">
        <img src="imagenes/logo.png" alt="Logo tienda" width="50px" height="50px"><!--LOGO-->
        <p style="font-size: 2vw; color: red;"> <i class="fa-solid fa-copyright" style="color: red;"> Copyright 2022</i></p><!--COPYRIGTH-->
        

    </div>

    <div class="playstore_icon">
        
        
        
        <div class="icon_p">
            <i class="fa-brands fa-google-play fa-2x"></i>
            <p class="p_icon">Disponible en:<br>Google Play</p>
            
         

        </div>
    </div>

    
        
    

</footer>