<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://kit.fontawesome.com/68bc1fc849.js"
      crossorigin="anonymous"
    ></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main class="main">
      <!--PURPLE-->
      <div class="main_izq"></div>
      <!--BLUE-->
      <div class="formulario">
        <h1>Iniciar Sesion</h1>
        <form class="formulario" action="/login" method="post">
          <fieldset form="user" name="iniciar_sesion">
            <!--<label for="email">Email</label>-->
            <input
              type="email"
              id="email"
              name="email"
              placeholder="usuario@correo.com"
              class="input_style"
            /><br /><br />
            <!--<label for="pwd">Contrasenia</label>-->
            <input
              type="password"
              id="pwd"
              name="key"
              placeholder="Contrasenia"
              class="input_style"
            />
          </fieldset>
          <br /><br />
          <button
            type="submit"
            value="Ingresar"
            class="ingresar_button"
            onclick="godesktop()"
          >
            Ingresar
          </button>
        </form>
        <h2>No tienes una cuenta?</h2>
        <button class="ingresar_button" onclick="go_create_account()">
          <i style="font-size: 2vw">Crear cuenta</i>
        </button>
        <h2>O registrarse con:</h2>
        <button style="border-radius: 10px">
          <i class="fa-brands fa-facebook fa-2x" style="color: blue"></i>
        </button>
        <button style="border-radius: 10px">
          <i class="fa-brands fa-google fa-2x" style="color: red"></i>
        </button>
        <h2 style="color: blue"><a href="">Olvide Mi Contrasenia</a></h2>
      </div>
      <!--CYAN-->
      <div class="main_der"></div>
      <!--RED-->
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
  <script>
    function godesktop() {
      location.href = "/";
    }
    function go_create_account() {
      location.href = "/crear_cuenta";
    }
  </script>
</html>
