.body_container{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vw;
    margin: 0px;
    padding: 0px;
    /*overflow-x: hidden; */
    
    
    
    /*background-image: url(imagen.jpg);
    background-size: cover;
    background-attachment: fixed;*/
    

}



.header_container0 {
    flex-direction: row;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
    margin: 0;
    
    
    
        
        
}

    
.header_container1 {
    flex-direction: column;
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 60%;
        
}

.header_container2 {   
    flex-direction: column;
    display: flex;
    align-items: baseline;
        
    width: 100%;
        
        
}

.header_container3 {
    flex-direction: row;
    display: flex;
    width: 100%;
        
    justify-content: left;
        
}

.header_container4 {
    flex-direction: row;
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    height: 2px;
        
        
}

.header_container5 {
    flex-direction: row;
    display: flex;
    align-items: flex-end;
    width: 100%;
       
    
        
        
}



@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Silkscreen-Bold.ttf);
    
}

@font-face {
   
    font-family: second_font;
    src: url(../fonts/DynaPuff-Bold.ttf);
    
}


.fonts{
    font-family: myFirstFont;
}

html *{
    font-family: second_font;
    
    
}



.hi1{
    flex-direction: column;
    justify-content: center;
    background-color: black;
    display: flex;
    
        
    width: 100%;
    font-family: myFirstFont ;
        
    text-align: left;
        
    align-items: flex-start;
}

.hi2{
    flex-direction: row;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 500px;
        
    font-size: 20px;
    visibility: visible;
    color: red;
        
}   
    
.hi3{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2px;
        
        
    visibility: hidden;
        
}
    
.hi4{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2px;
    visibility: hidden;
        
        
        
}
    
.hi5{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 30px;
    font-family: second_font;
    width: 50%;
    visibility: hidden;
        
}
    
.hi6{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 30px;
    visibility: hidden;
        
    width: 50%;
    
        
        
}

.hi_map{
    
        
    visibility: hidden;
        
        
}


.bar_menu{
    visibility: visible;
    color: white;
    
    padding: 10px;
}

.map_bar_menu{
    flex-direction: row;
    display: flex;
}


.title_container{
    flex-direction: row;
    display: flex;
    
    background-color: black;
    justify-content: center;
    align-items: center;
    width: 100%;
        
}
   

.logo{
    width: 40%;
    height: 80%;
        
}


   

p{
    font-size: 5vw;
}

   

 

/*FOOTER*/

.footer_container {
    flex-direction: row-reverse;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    
    width: 100%;
    
}
    
.fc1{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 30%;
        
        
}
    
.fc2{
    flex-direction: row;
    display: flex;
    align-items: flex-end;
    justify-content: left;
        
    width: 5%;
    visibility: hidden;
}
    
.fc3{
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    font-family: second_font ;
    align-items: center;
    width: 5%;
    visibility: hidden;
        
}
    
   

.playstore_icon{
    flex-direction: column;
    display: flex;
    visibility: visible;
    color: white;
    align-items: center;
    gap: 5px;
    width: 60%;
    height: 100%;
        
        
}

.icon_p{
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
    align-items: center;
        
}

.p_icon{
    color: white;
    font-size: 5vw;
}

/***********************************************MAIN************************************************************/
.main_container {
    flex-direction: row;
    display: flex;
    
    
    
    
    
    width: 100%;
    
    /*padding: 20px;*/
    
}

.main_container_izq{
    flex-direction: column;
    display: flex;
    
    
    width: 100% ;
    height: 100%;
}

.main_container_izq_2{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
    
    gap: 30px;
    
}

.botones{
    background-color: grey;
    border: solid black;
    border-radius: 20px;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    width: 200px;
    height: 200px;
    
}

button:hover{
    background-color: white;
}

.main_container_der{
    flex-direction: column;
    display: flex;
    
    width: 0;
    overflow-y: auto;
    /*background-image: url(imagen.jpg);
    background-size: cover;*/
    visibility: hidden;
    
}

.main_container_der_2{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    gap: 30px;
}

.main_container_der_3{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    
    
}


.botones_der_2{
    border: solid black 2px;
    border-radius: 20px;
    width: 150px;
    height: 150px;
    background-size: cover;
}

.botones_der_2:hover{
    border: solid red 2px;
}

.p_der_2{
    
    color: white;
    text-align: center ;
    font-size: 20px;
    
    
}

.items_button{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: gray;
    gap: 5px;
    border: solid black 2px;
    border-radius: 20px;
    width: 150px;
    height: 50px;
}

.items_price{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: right;
    border: solid black 2px;
    border-radius: 10%;
    height: 10vw;
    width: 20vw;
    background-color: gray;
    

}







@media only screen and (min-width: 600px){

   

.body_container{
    flex-direction: column;
    display: flex;
    
    
    
    
   
    

}

.header_container0 {
    
   
    background-color: black;
    
    
    
    
    
}

.header_container1 {
    flex-direction: row;
    
    width: 80%;
    
}

.header_container2 {   
    
    
    width: 80%;
    
}

.header_container3 {
    
    height: 33.33%;
    justify-content: center;
    justify-content: space-between;
    visibility: visible;
    flex-wrap: wrap;
    
   
    
}

.header_container4 {
    
    
    justify-content: space-between;
    
    height: 33.33%;
    flex-wrap: wrap;
    
}

.header_container5 {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    
    justify-content: space-between;
    
    
}





.hi1{
    

    height: 33.33%;
    
}

.hi2{
    
    flex-wrap: wrap;
    justify-content: center;
    
    width: 33.33%;
    color: white;
    font-size: 30px;
    gap: 20px;
    
}   

.hi3{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    
    font-size: 30px;
    width: 33.33%;
    color: white;
    font-weight: 700;
    gap: 20px;
    visibility: visible;
}

.hi4{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    
    font-size: 30px;
    gap: 20px;
    visibility: visible;
    
    
    
    width: 33.33%;
}

.hi5{
    
    flex-wrap: wrap;
    
    visibility: visible;
    
}

.hi6{
    flex-direction: row;
    
    display: flex;
    flex-wrap: wrap;
    
    gap: 20px;
    
    visibility: visible;

    
    
}

.hi_map{
    
    padding-left: 50%;
    
    
    height: 50%;
    width: 50%;
    visibility: visible;
    
    
}

.bar_menu{
    visibility: hidden;
}



.title_container{
    
    gap: 20px;
}
/* FOOTER*/
.footer_container {
    
    flex-direction: row;
    display: flex;
    align-items: center;
    

    height: 200px;
    
    flex-wrap: wrap;
    
    
    
    
}

.fc1{
    
    color: red;
    width: 10%;
    
    
}

.fc2{
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    justify-content: space-between;
    width: 20%;
    visibility: visible;
}

.fc3{
    
    width: 65%;
    visibility: visible;
    
}

.logo{
    width: 20%;
    
    
}

.playstore_icon{
    visibility: hidden;
    height: 0px;
    width: 5px;
}

.p_icon{
    
    font-size: 0;
}


/*****************************************************MAIN*****************************************************/
.main_container {
    
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    
    align-items: flex-start;
    background-image: url(../imagenes/elf2.jpg);
    background-size: cover;
    height: 100vw;
    
    
}

.main_container_izq{
    
    
    
    width: 20% ;
    height: 100%;
    
    
}

.main_container_izq_2{
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 177px;
    
    
    
}

.botones{
    
    width: 70%;
    height: 20%;
    align-items: center;
    
}




.main_container_der{
    
    height: 100%;
    width: 80%;
    
    
    
    
    background-image: url(../imagenes/imagen.jpg);
    background-size: cover;
    
    visibility: visible;
    
    
}

.main_container_der_2{
    
    flex-wrap: wrap;
    height: auto;
    
}

.botones_der_2{
    border: solid black 2px;
    border-radius: 20px;
    width: 10vw;
    height: 10vw;
    background-size: cover;
}

.main_container_der_3{
    
    flex-wrap: wrap;
    
    
    
}

.items_button{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: gray;
    gap: 5px;
    border: solid black 2px;
    border-radius: 20px;
    width: 10vw;
    height: 5vw;
}

.items_price{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black 2px;
    border-radius: 20px;
    height: 5vw;
    width: 10vw;
    background-color: gray;
    
    

}












}